<table class="table table-striped">
  <a href="/#!/new">
  <button id="submitBtn" type="button" name="button">+ Add New Trailer</button></a>
  <input class="searchBox" type="text" ng-model="search" placeholder="Search Movies">
  <br>
  <thead>
    <th>Movie Title</th>
    <th>URL</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr ng-repeat="movie in movies | filter : search | orderBy : 'title' ">
      <td><a href="/#!/detail/{{ movie._id }}">{{ movie.title }}</a></td>
      <td>{{ movie.url }}</td>
      <!-- <td><a href="">Edit</a> | <b ng-click="delete(movie)"> Delete</b></td> -->
      <td><a href="/#!/edit/{{ movie._id }}">Edit</a> | <a href="/#!/delete/{{ movie._id }}">Delete</a></td>
    </tr>
  </tbody>
</table>
